.card {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;

    .image {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;

        &:hover {
            .secondImg {
                z-index: 2;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        .mainImg {
            z-index: 1;
        }

        span {
            position: absolute;
            top: 50px;
            left: 5px;
            background-color: white;
            color: teal;
            padding: 3px 5px;
            z-index: 3;
            font-weight: 500;
            font-size: 12px;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 400;
    }

    .prices {
        display: flex;
        gap: 20px;

        h3 {
            font-size: 18px;
            font-weight: 500;

            &:first-child {
                color: gray;
                text-decoration: line-through;
            }
        }
    }

    // Media query for mobile screens (up to 767px)
    @media screen and (max-width: 767px) {
        .card {
                width: 100%; // Adjust card width for smaller screens
                margin-bottom: 20px; // Reduce margin for smaller screens
        
                .image {
                    height: 300px; // Reduce image height for smaller screens
                }
        
                h2 {
                    font-size: 14px; // Adjust font size for headings
                }
        
                .prices {
                    gap: 10px; // Reduce gap between price elements
        
                    h3 {
                        font-size: 16px; // Adjust font size for prices
                    }
                }
            }
       
    }

    // Media query for iPad screens (768px to 1023px)
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        // Add specific styles for iPad screens if needed

        .card {
                width: 50%; // Adjust card width for iPad screens
                margin-bottom: 30px; // You can adjust the margin as needed
        
                .image {
                    height: 350px; // You can adjust the image height for iPad screens
                }
        
                h2 {
                    font-size: 16px; // Adjust font size for headings on iPad screens
                }
        
                .prices {
                    gap: 15px; // Adjust the gap between price elements on iPad screens
        
                    h3 {
                        font-size: 18px; // Adjust font size for prices on iPad screens
                    }
                }
            }
    }
}